{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div id="map" style="height: 500px;"></div>
    <p id="coordinates">Współrzędne:</p>
    <input type="file" id="fileInput" accept="image/*">
    <button id="uploadButton" class="btn btn-primary">Prześlij plik</button>
    <button id="saveButton" class="btn btn-success" style="display: none;">Zapisz współrzędne</button>
    <div class="mt-4">
        <h3>Uzupełnij współrzędne dla istniejącego zdjęcia:</h3>
        <select id="existingPhotos" class="form-select mb-3">
            <option value="" disabled selected>Wybierz zdjęcie</option>
            {% for photo in photos %}
            <option value="{{ photo.id }}">{{ photo.filename }}</option>
            {% endfor %}
        </select>
        <input type="text" id="newLat" class="form-control mb-2" placeholder="Nowa szerokość geograficzna">
        <input type="text" id="newLng" class="form-control mb-2" placeholder="Nowa długość geograficzna">
        <button id="updateCoordsButton" class="btn btn-secondary">Aktualizuj współrzędne</button>
    </div>  
    <div id="uploadedImages" class="mt-4">
        <h3>Przesłane zdjęcia:</h3>
        <div id="imagesContainer" class="row">
            {% include 'photos.html' %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var map = L.map('map').setView([50.28838, 18.67820], 15);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker([50.28838, 18.67820], {draggable: true}).addTo(map);

    marker.on('dragend', function (event) {
        var marker = event.target;
        var position = marker.getLatLng();
        $('#coordinates').text('Współrzędne: ' + position.lat.toFixed(6) + ', ' + position.lng.toFixed(6)); 
        $('#saveButton').show();
        $('#saveButton').data('lat', position.lat.toFixed(6));
        $('#saveButton').data('lng', position.lng.toFixed(6));
    });

    $('#uploadButton').click(function() {
        var fileInput = document.getElementById('fileInput');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('file', file);

        $.ajax({
            type: 'POST',
            url: '/upload',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.lat !== undefined && response.lng !== undefined) {
                    $('#coordinates').text('Współrzędne: ' + response.lat.toFixed(6) + ', ' + response.lng.toFixed(6));
                    marker.setLatLng([response.lat, response.lng]);
                    map.setView([response.lat, response.lng], 13);
                } else {
                    $('#coordinates').text('Brak danych geograficznych w pliku EXIF.');
                }
                refreshPhotos();
                // displayImage(response.image_url, response.lat, response.lng, response.photo_id);
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert('Wystąpił błąd podczas przesyłania pliku.');
            }
        });
    });

    $('#saveButton').click(function() {
        var lat = $(this).data('lat');
        var lng = $(this).data('lng');
        var photoId = $(this).data('photo-id');
        console.log('Saving coordinates:', photoId, lat, lng);
        $.ajax({
            type: 'POST',
            url: '/update_location',
            data: JSON.stringify({
                lat: lat,
                lng: lng,
                photo_id: photoId
            }),
            contentType: 'application/json',
            success: function(response) {
                if (response.success) {
                    alert('Współrzędne zostały zapisane.');
                    $('#saveButton').hide();
                } else {
                    alert('Wystąpił błąd podczas zapisywania współrzędnych.');
                }
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert('Wystąpił błąd podczas zapisywania współrzędnych.');
            }
        });
    });

    $('#updateCoordsButton').click(function() {
        var photoId = $('#existingPhotos').val();
        var newLat = $('#newLat').val();
        var newLng = $('#newLng').val();
        if (photoId && newLat && newLng) {
            $.ajax({
                type: 'POST',
                url: '/update_location',
                data: JSON.stringify({
                    lat: newLat,
                    lng: newLng,
                    photo_id: photoId
                }),
                contentType: 'application/json',
                success: function(response) {
                    if (response.success) {
                        alert('Współrzędne zostały zaktualizowane.');
                        location.reload();
                    } else {
                        alert('Wystąpił błąd podczas aktualizowania współrzędnych.');
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('Wystąpił błąd podczas aktualizowania współrzędnych.');
                }
            });
        } else {
            alert('Proszę wypełnić wszystkie pola.');
        }
    });

    $('#imagesContainer').on('click', '.deleteButton', function() {
        var photoId = $(this).data('photo-id');
        $.ajax({
            type: 'POST',
            url: '/delete_photo',
            data: JSON.stringify({ photo_id: photoId }),
            contentType: 'application/json',
            success: function(response) {
                if (response.success) {
                    refreshPhotos();
                } else {
                    alert('Wystąpił błąd podczas usuwania zdjęcia.');
                }
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert('Wystąpił błąd podczas usuwania zdjęcia.');
            }
        });
    });

    function refreshPhotos() {
        $.ajax({
            type: 'GET',
            url: '/photos',
            success: function(response) {
                $('#imagesContainer').html(response);
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                alert('Wystąpił błąd podczas odświeżania zdjęć.');
            }
        });
    }

    function displayImage(imageUrl, lat, lng, photoId) {
        var imageHtml = `
            <div class="col-md-4 mb-3" id="photo-${photoId}">
                <img src="${imageUrl}" class="img-fluid" alt="Przesłane zdjęcie">
                <p>Współrzędne: ${lat !== undefined && lng !== undefined ? lat.toFixed(6) + ', ' + lng.toFixed(6) : 'Brak danych'}</p>
                <button class="btn btn-danger deleteButton" data-photo-id="${photoId}">Usuń</button>
            </div>
        `;
        $('#imagesContainer').append(imageHtml);
        $('#saveButton').data('photo-id', photoId);
        refreshPhotos();
    }

</script>
{% endblock %}
